
<form ngForm #f *ngIf="programComplex" style="padding-top: 1rem;">
  <div class="container">
    <div class="row">
      <mat-form-field class="col-12">
        <input matInput type="text" placeholder="Name" name="exName" [(ngModel)]="programComplex.name" required>
      </mat-form-field>
      <mat-form-field class="col-12">
          <input matInput type="text" placeholder="comment" name="comment" [(ngModel)]="programComplex.comment">
      </mat-form-field>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let training of programComplex.protoTrainings; let index = index;">
        <div class="col-12">
          <app-proto-trainig-edit
            [namespace]="training"
            (deleteTraining)="deleteTraining($event)"
            (updateTraining)="updateTraining($event)"
          ></app-proto-trainig-edit>
        </div>
      </ng-container>

      <mat-divider></mat-divider>
     
    </div>
  </div>

  <div class="container final-training-wrapper">
    <div class="row btns-row">
        <button mat-fab color="basic" class="add-try-btn" (click)="addTrainig()">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-fab color="basic" class="green-btn" (click)="trySave()">
            <mat-icon>check</mat-icon>
        </button>
    </div>
  </div>
  
</form>
