<form ngForm #f *ngIf="namespace">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         {{ namespace.name }}
        </mat-panel-title>
        <mat-panel-description class="mat-panel-descr-to-right">
            <mat-icon class="delete" (click)="deleteTrainig($event)">delete_outline</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container">
        <div class="row">
          <mat-form-field class="col-12">
              <input matInput type="text" placeholder="Name" name="trName" [(ngModel)]="namespace.name" required>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <ng-container *ngFor="let exercise of namespace.exercises; let last = last; let index = index;">
            <div class="row exercise-row">
              <div class="col-1 number-of-exercise"><p>{{ index + 1 }}</p></div>
              <mat-form-field class="col-8">
                <mat-select 
                  [placeholder]="'Exercise #' + (index + 1)"
                  [value]="namespace.exercises[index].id"
                  (selectionChange)="selectionChange($event, index)"
                  required>
                    <ng-container *ngFor="let ex of protoExercises">
                        <mat-option [value]="ex.id">
                            {{ ex.name }}
                        </mat-option>
                    </ng-container>
                  
                </mat-select>
              </mat-form-field>
              <div class="col-2">
                  <mat-icon class="info-btn delete" (click)="exerciseDel(index)">delete_outline</mat-icon>
              </div>
            </div>
            <mat-divider *ngIf="!last"></mat-divider>
        </ng-container>
        <div class="row add-btn-row">
          <button mat-fab color="basic" class="add-try-btn" (click)="exerciseAdd()">
              <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </mat-expansion-panel>

  <!-- <div class="container">
    <div class="row">
      <mat-form-field class="col-12">
        <input matInput type="text" placeholder="Name" name="exName" [(ngModel)]="programComplex.name" required>
      </mat-form-field>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let training of programComplex.protoTrainings">
        <app-proto-trainig-edit
          
        ></app-proto-trainig-edit>

      </ng-container>
      
     

      <mat-divider></mat-divider>
      <mat-form-field class="col-12">
        <input matInput type="text" placeholder="VideoLink" name="exLink" [(ngModel)]="programComplex.comment">
      </mat-form-field>
    </div>
  </div> -->

  <!-- <div class="container final-training-wrapper">
    <div class="row btns-row solo-btn final">
        <button mat-fab color="basic" class="green-btn" (click)="trySave()">
            <mat-icon>check</mat-icon>
        </button>
    </div>
  </div> -->
  
</form>