

<ng-container *ngFor="let complex of programComplexes; let last = last">
  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{complex.name}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    {{ complex.comment }}
    <mat-list role="list">
        <ng-container *ngFor="let training of complex.protoTrainings; let last = last">
            <mat-list-item 
              (click)="trainingClick(training.id)"
              role="listitem"
            >
            <span matLine style="white-space: normal;"> {{ training.name }} </span>
            <p matLine *ngIf="getLastTrainingDateByProto(training)">
              <span class="sub-header">last: {{ getLastTrainingDateByProto(training) }}</span>
            </p>
            </mat-list-item>
            <mat-divider *ngIf="!last"></mat-divider>
        </ng-container>
    </mat-list>

  </mat-expansion-panel>
  <mat-divider *ngIf="!last"></mat-divider>
</ng-container>

<div class="container" *ngIf="programComplexes.length === 0">
  <div class="row" >
    <div class="col-12">
      <h2 class="sub-header">
        Программные комплексы отсутствуют. Добавьте новый через настройки.
      </h2>
    </div>
  </div>
</div>



