
<ng-container *ngIf="isLoaded">

<ng-container *ngFor="let complex of programComplexes; let last = last">
  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{complex.name}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    {{ complex.comment }}
    <mat-list role="list">
        <ng-container *ngFor="let item of getComplexTrainigByDate(complex); let last = last">
            <mat-list-item 
              (click)="trainingClick(item.protoTr.id)"
              role="listitem"
            >
            <span matLine style="white-space: normal;"> {{ item.protoTr.name }} </span>
            <p matLine *ngIf="item.lastTr?.date">
              <span class="sub-header">last: {{ item.lastTr.date | date:'dd.MM.yyyy' }}</span>
            </p>
            </mat-list-item>
            <mat-divider *ngIf="!last"></mat-divider>
        </ng-container>
    </mat-list>

  </mat-expansion-panel>
  <mat-divider *ngIf="!last"></mat-divider>
</ng-container>
</ng-container>

<div class="container" *ngIf="programComplexes.length === 0 && isLoaded">
  <div class="row" >
    <div class="col-12">
      <h2 class="sub-header">
        Программные комплексы отсутствуют. Создайте свой.
      </h2>
    </div>
  </div>

  <div class="row" >
    <div class="col-12 btns">
        <button mat-fab color="basic" class="add-try-btn"
                    (click)="addNewComplex()"
                  >
          <mat-icon>add</mat-icon>
        </button>
    </div>
  </div>
</div>

<div class="container" *ngIf="!isLoaded">
  <div class="row" >
    <div class="col-12">
      <h2 class="sub-header">
        Загрузка ...
      </h2>
    </div>
  </div>
</div>



