

.btns-row {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    &.solo-btn {
        justify-content: flex-end;
    }
}

.final-training-wrapper {
    padding: 0.25rem 0;
}