

<!-- <mat-divider></mat-divider> -->
<!-- <mat-toolbar>
  <button (click)="showDebug()">Отобразить инфу!</button>

</mat-toolbar> -->
<mat-divider></mat-divider>
<form ngForm #f *ngIf="training" style="padding-top: 1rem;">
  <div class="container">
    <div class="row">
      <mat-form-field class="col-6 col-md-6">
        <input matInput [matDatepicker]="picker" placeholder="Дата тренеровки"
          name="trainingDate" 
          [value]="getTrainingDate()"
          (dateChange)="setTrainingDate($event)"
          (dateInput)="setTrainingDate($event)"
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-6 col-md-6">
          <input matInput type="number" min="30" max="150" placeholder="Вес" name="userWeight" [(ngModel)]="training.userWeight">
      </mat-form-field>
    </div>
  </div>
  <mat-divider></mat-divider>

  <!-- <div class="container">
    <span class="mat-h3">Стартовое кардио</span>
  </div>
  <mat-divider></mat-divider>

  <div class="container">
    <span class="mat-h3">Разминка</span>
  </div>
  <mat-divider></mat-divider> -->

  <div class="container">
    
    <mat-vertical-stepper [linear]="false" #stepper
    (selectionChange)="cardioStart.stop(); cardioEnd.stop(); changeSelection($event);"
    >

        <mat-step [completed]="training.cardioStart.isCompleted">
            <ng-template matStepLabel 
              >Стартовое кардио</ng-template>
            
            <app-cardio-try #cardioStart
              [namespace]="training.cardioStart"
            ></app-cardio-try>

            
            <!-- Кнопки -->
            <div class="row btns-row solo-btn">
                <button mat-fab matStepperNext color="primary">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </mat-step>
    
        <mat-step>
            <ng-template matStepLabel>Разминка</ng-template>
            <app-my-warm [namespace]="training.warm_up" [prevWarmUp]="prevTraining && prevTraining.warm_up || []"></app-my-warm>
            <!-- Кнопки -->
            <div class="row btns-row">
                <button mat-fab color="basic" class="add-try-btn"
                  (click)="training.warm_up.push('')"
                  >
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-fab matStepperNext color="primary">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </mat-step>

        <!-- УПРАЖНЕНИЯ -->
        <ng-container *ngFor="let exercise of training.exercises; let last = last; let index = index;">
            <mat-step [completed]="exercise.isCompleted">
                <ng-template matStepLabel>
                    <div class="exercise-label-wrapper">
                      <div class="exercise-label-name">{{ exercise.name }}</div>
                      
                      <div class="exercise-label-icons">
                          <button mat-icon-button
                                  *ngIf="exercise.description"
                                  (click)="openHelpDialogExercise(exercise.protoLink, $event);"
                          >
                              <mat-icon>error_outline</mat-icon>
                          </button>
                          <button mat-icon-button
                                  *ngIf="exercise.protoLink.videoLink"
                                  (click)="openVideoLinkExercise(exercise.protoLink, $event)">
                              <mat-icon>videocam</mat-icon>
                          </button>
                          <!-- <button mat-icon-button>
                              <mat-icon>find_replace</mat-icon>
                          </button> -->
                      </div>

                    </div>
                </ng-template>

                <!-- Подходы из прошлой тренеровки -->
                <!-- todo: Заменить проверку по prevTraining, на проверку про прошлому Exercise -->
                <div class="row" *ngIf="getPrevExercise(exercise.protoLink)">
                  <div class="col-10 sub-header" innerHTML="{{ getPrevExercise(exercise.protoLink) }}"></div>
                  <div class="col-2">
                      <mat-icon (click)="userPrevTrainingExercise(exercise.protoLink)">vertical_align_bottom</mat-icon>
                  </div>
                </div>

                <!-- список подходов, кнопка добавления подхода. По завершению этого - нужно убрать пустые подходы -->
                <div class="row">
                  <ng-container *ngFor="let oneTry of exercise.tryes; let index = index;">
                    <app-my-try 
                      [namespace]="oneTry"
                    ></app-my-try>
                  </ng-container>
                </div>  
        
                <!-- Кнопки -->
                <div class="row btns-row">
                  <button mat-fab color="basic" class="add-try-btn"
                    (click)="addNewTry(exercise)"
                  >
                    <mat-icon>add</mat-icon>
                  </button>

                  <!-- <button mat-fab color="primary" (click)="add_comment = true;">
                    <mat-icon>add_comment</mat-icon>
                  </button> -->
                
                  <button mat-fab matStepperNext color="primary">
                      <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
            </mat-step>
        </ng-container>

        <mat-step>
            <ng-template matStepLabel>Растяжка</ng-template>
            <app-my-stretching></app-my-stretching>
            <!-- Кнопки -->
            <div class="row btns-row solo-btn">
              <button mat-fab matStepperNext color="primary">
                  <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
        </mat-step>

        <mat-step [completed]="training.cardioEnd.isCompleted">
            <ng-template matStepLabel>Финальное кардио</ng-template>

            <app-cardio-try #cardioEnd
              [namespace]="training.cardioEnd"
            ></app-cardio-try>
           
        </mat-step>

      </mat-vertical-stepper>
  </div>
  <mat-divider></mat-divider>

  <div class="container">
    <div class="row">
      <mat-form-field class="" class="col-12" style="padding-top: 1rem;">
        <textarea matInput name="commentTraining" placeholder="Comment to Training" [(ngModel)]="training.comment"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="container final-training-wrapper">
    <div class="row btns-row solo-btn final">
        <button mat-fab color="basic" class="green-btn" (click)="trySave()">
            <mat-icon>check</mat-icon>
        </button>
    </div>
  </div>
  
</form>