@import "../../../../theme/variables.scss";

.exercise-label-wrapper {
    display: block;
}

.exercise-label-name {
    white-space: normal
}

.exercise-label-icons {
    padding-bottom: 1rem;
    justify-content: space-around;
}


.btns-row {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    &.solo-btn {
        justify-content: flex-end;
    }
}

.final-training-wrapper {
    padding: 0.25rem 0;
}

.swap-exercise-menu {
    max-height: 50%;
}