<div class="container" *ngIf="training">

  <div class="row exercise-element">
    <div class="col-10">
        <p>{{ training.protoTraining.name }}</p>
        <p class="sub-header">{{ training.date | date:'dd.MM.yyyy' }}  /  {{ training.userWeight || 0 }}kg</p>
        <p *ngIf="training.comment">{{ training.comment }}</p>
    </div>
    <div class="col-2 flex-right">
      <mat-icon (click)="editTraining(training)">edit</mat-icon>
    </div>
  </div>
  
  <!--  -->

  <mat-divider></mat-divider>

  <div class="row exercise-element" *ngIf="training.cardioStart || training.cardioEnd">
    <div class="col-12">
        <p class="sub-header">Cardio</p>
      </div>
    <div class="col-6" *ngIf="training.cardioStart && training.cardioStart.isCompleted">
      {{ getCardioNameByType(training.cardioStart.cardioType) }} / {{ training.cardioStart.time * 1000 | date:'mm' }} min
    </div>
    <div class="col-6" *ngIf="training.cardioEnd && training.cardioEnd.isCompleted">
      {{ getCardioNameByType(training.cardioEnd.cardioType) }} / {{ training.cardioEnd.time * 1000 | date:'mm' }} min
    </div>
  </div>

  <div class="row exercise-element" *ngIf="training.warm_up">
    <div class="col-12">
        <p class="sub-header">Warp-Up</p>
      </div>
    <div class="col-12" *ngFor="let item of training.warm_up">
      {{ item }}
    </div>
  </div>

  <ng-container *ngIf="training.exercises">
    <div class="row exercise-element">
      <div class="col-12"><p class="sub-header">Exercises</p></div>  
    </div>
    <div class="row exercise-element" *ngFor="let exercise of training.exercises">
      <div class="col-12">{{ exercise.name }}</div>      
      <div class="col-12" [innerHtml]="getExerciseTryes(exercise)"></div>      
    </div>
  </ng-container>

</div>
