<div class="container">
  <ng-container *ngFor="let training of (trainings$ | async); let last = last">
      <div class="row card-wrap" (click)="onClick(training)">
          <div *ngIf="training.isCompleted"><mat-icon class="icon">check_circle_outline</mat-icon></div>
          <div *ngIf="!training.isCompleted"><mat-icon class="icon fail">remove_circle_outline</mat-icon></div>
          <div class="sub-header">({{ training.date | date:'dd.MM.yyyy' }})</div>
          <div class="name">{{ training.protoTraining.name }}</div>
      </div>
      <!-- <mat-divider *ngIf="!last"></mat-divider> -->
  </ng-container>
</div>
