
<div class="loader-info" [hidden]="!viewLoadBar">
  <mat-progress-bar
        [mode]="'indeterminate'"
  ></mat-progress-bar>
</div>

<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" style="position: absolute;">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/" routerLinkActive="active">
        <mat-icon>fitness_center</mat-icon>
        <span>Main</span>
      </button>
      <button mat-menu-item routerLink="/settings" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item routerLink="/stats" routerLinkActive="active">
        <mat-icon>free_breakfast</mat-icon>
        <span>Statistics</span>
      </button>
      <button mat-menu-item (click)="quit()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Exit</span>
      </button>
    </mat-menu>
    <div class="header-main">{{ title }}</div>
</mat-toolbar>

<router-outlet></router-outlet>
