

<mat-divider></mat-divider>
<mat-toolbar>
  <button (click)="showDebug()">Отобразить инфу!</button>

</mat-toolbar>
<mat-divider></mat-divider>
<form ngForm #f *ngIf="trainig">
  <div class="container">

      <mat-form-field class="col-6 col-md-6">
        <input matInput [matDatepicker]="picker" placeholder="Дата тренеровки"
          name="trainingDate" 
          [(ngModel)]="trainig.date"
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-6 col-md-6">
          <input matInput type="number" min="30" max="150" placeholder="Вес" name="userWeight" [(ngModel)]="trainig.userWeight">
      </mat-form-field>

  </div>
  <mat-divider></mat-divider>

  <!-- <div class="container">
    <span class="mat-h3">Стартовое кардио</span>
  </div>
  <mat-divider></mat-divider>

  <div class="container">
    <span class="mat-h3">Разминка</span>
  </div>
  <mat-divider></mat-divider> -->

  <div class="container">
    
    <mat-vertical-stepper [linear]="false" #stepper
    (selectionChange)="cardioStart.stop(); cardioEnd.stop(); changeSelection($event);"
    >

        <mat-step>
            <ng-template matStepLabel 
                matStepLabel[completed]="true"
              >Стартовое кардио</ng-template>
            
            <app-cardio-try #cardioStart
              [namespace]="trainig.cardioStart"
            ></app-cardio-try>

            
            <!-- Кнопки -->
            <div class="row btns-row solo-btn">
                <button mat-fab matStepperNext color="primary">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
              </div>
        </mat-step>
    
        <mat-step>
            <ng-template matStepLabel>Разминка</ng-template>
            <app-my-warm></app-my-warm>
            <div>
              <button mat-raised-button matStepperNext color="primary">Next</button>
            </div>
        </mat-step>

        <!-- УПРАЖНЕНИЯ -->
        <ng-container *ngFor="let protoExercise of protoTrainig.exercises; let last = last; ">
            <mat-step>
                <ng-template matStepLabel>
                    <div class="exercise-label-wrapper">
                      <div class="exercise-label-name">{{ protoExercise.name }}</div>
                      
                      <div class="exercise-label-icons">
                          <button mat-icon-button
                                  *ngIf="protoExercise.description"
                                  (click)="openHelpDialogExercise(protoExercise, $event);"
                          >
                              <mat-icon>help</mat-icon>
                          </button>
                          <button mat-icon-button
                                  *ngIf="protoExercise.videoLink"
                                  (click)="openVideoLinkExercise(protoExercise, $event)">
                              <mat-icon>videocam</mat-icon>
                          </button>
                          <!-- <button mat-icon-button>
                              <mat-icon>find_replace</mat-icon>
                          </button> -->
                      </div>

                    </div>
                </ng-template>

                <!-- список подходов, кнопка добавления подхода. По завершению этого - нужно убрать пустые подходы -->
                <div class="row">
                  <ng-container *ngFor="let oneTry of getTryesByProtoExercise(protoExercise); let index = index;">
                    <app-my-try 
                      [namespace]="oneTry"
                    ></app-my-try>
                  </ng-container>
                </div>  
        
                <!-- Кнопки -->
                <div class="row btns-row">
                  <button mat-fab color="basic" class="add-try-btn"
                    (click)="addNewTry(protoExercise)"
                  >
                    <mat-icon>add</mat-icon>
                  </button>

                  <!-- <button mat-fab color="primary" (click)="add_comment = true;">
                    <mat-icon>add_comment</mat-icon>
                  </button> -->
                
                  <button mat-fab matStepperNext color="primary">
                      <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
            </mat-step>
        </ng-container>

        <mat-step>
            <ng-template matStepLabel>Растяжка</ng-template>
            <app-my-stretching></app-my-stretching>
            <div>
              <button mat-raised-button matStepperNext color="primary">Next</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Финальное кардио</ng-template>

            <app-cardio-try #cardioEnd
              [namespace]="trainig.cardioEnd"
            ></app-cardio-try>
           
        </mat-step>

      </mat-vertical-stepper>
  </div>
  <mat-divider></mat-divider>

  <div class="container">
    <div class="row">
      <mat-form-field class="" class="col-12">
        <textarea matInput name="commentTrainig" placeholder="Comment to Training" [(ngModel)]="trainig.comment"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="container final-trainig-wrapper">
    <div class="row btns-row solo-btn final">
        <button mat-fab color="basic" class="green-btn" (click)="trySave()">
            <mat-icon>check</mat-icon>
        </button>
    </div>
  </div>
  
</form>